body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
}

nav {
    background-color: bisque;
    padding-inline: 1em;

}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1em;
    font-size: 2rem;
}

nav ul li {
    padding: .2em;
}

nav ul li:hover {
    background-color: aliceblue;
}

nav a {
    color: inherit;
    text-decoration: none;
}

main {
    flex-grow: 1;
    padding: 2em;
}

/* footer */
footer {
    background-color: bisque;
    font-size: .75em;
    display: grid;
    align-items: center;
}

footer span {
    vertical-align: middle;

}

footer .icon {
    font-size: 1.5rem;
    padding-inline-end: .4rem;
}